@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

:root {
  --text-black: #000000;
  --gradient-colors: #ffcb05, #f58220;
  --bg-yellow: #ffefc6;
  --dark-green: #1b220e;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  font-size: 1.2rem;
}

p {
  line-height: 1.6;
}
.navbar-bg-light {
  background-color: #e4cfcf59 !important;
}

.navbar-light .navbar-toggler-icon {
  color: white !important;
}

.navbar {
  color: white !important;
}

#top {
  height: 100vh;
  background-image: url("../imgs/top-tree.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: top;
}

.body-paragraph {
  width: 70%;
  margin: 0 auto;
}

.row {
  padding-left: unset !important;
  padding-right: unset !important;
}

.col,
.col-md-4,
.col-md-8,
.col-lg-4,
.col-lg-8 {
  padding-left: unset !important;
  padding-right: unset !important;
}

img {
  width: 100%;
  margin: 0;
}

.lead {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.bold-text {
  font-weight: 600;
}

.svg-logo-container {
  width: 100vw;
  text-align: center;
}

.svg-logo {
  width: 500px;
  margin: 3rem auto;
}

.about-us-logo-container {
  text-align: center;
}

.about-us-logo {
  width: 200px;
  /* margin-left: 16vw; */
  margin-top: 3rem;
}

.mid-tree {
  width: 75%;
  margin-right: 3rem;
  margin-top: 3rem;
}

.cool-painting {
  width: 350px;
  margin-top: 3rem;
  margin-left: 7.5rem;
}

.divider {
  height: 12px;
  width: 100%;
  background: linear-gradient(90deg, var(--gradient-colors));
}

#about-us,
#services,
#founder,
#contact {
  padding-bottom: 3rem;
}
#services {
  background-color: var(--bg-yellow);
}

#founder {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#contact {
  width: 100vw;
  height: 70vh;
  background-color: var(--dark-green);
  background-image: url("../imgs/footer-img.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  object-fit: cover;
}

@media (max-width: 767px) {
  body {
    font-size: 1rem;
  }

  #top {
    background-size: cover;
    background-position: center;
  }

  .svg-logo {
    width: 350px;
    margin: 3rem auto;
  }
  .about-us-logo {
    width: 200px;
    margin-left: unset;
    margin-bottom: 3rem;
  }

  .body-paragraph {
    width: 90%;
    margin: 0 auto;
  }

  #services {
    padding-top: 3rem;
  }
  .mid-tree {
    width: 90%;
    margin-top: 3rem;
    margin-left: 1rem;
  }

  #founder {
    padding-top: unset;
    margin-left: 1rem;
  }

  .cool-painting {
    width: 300px;
    margin-left: unset;
    margin-bottom: 3rem;
  }
  #founder p {
    margin-right: 2rem;
  }
  #contact {
    background-size: 150vw;
    height: 30vh;
  }
}
